<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>

    <!-- Estilos y fuentes del template  -->
    {% load static %}
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <style>
    .developer-img {
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
    .big-btn {
    padding: 15px 50px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 50px;
  }
  </style>


  <body>

    <!-- Cabecera -->
    <header class="masthead" style="background-image: url('http://localhost:9595/static/img/PORTADA.jpg')">
      <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
          <h1 class="display-4">UNICAPP</h1>
        </div>
      </div>
    </header>

      <!-- Contenido -->
      <div class="container my-5">
        {% block content %}{% endblock %}
      </div>

    <!-- Pié de página -->
    {% include 'core/footer.html' %}

</body>
